.desserts {
  display: grid;
  grid-column: 2 / 3;
}
.desserts__title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}
.desserts__items {
  row-gap: 60px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
}
.desserts__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: minmax(auto, 220px) auto 1fr auto / 224px;
}
.desserts__image {
}
.desserts__subtitle {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.desserts__sostav {
  margin: 10px 0 11px;
  font-size: 14px;
  line-height: 19px;
  color: #73798c;
}
.desserts__pay {
  display: grid;
  grid-auto-flow: column;
}
.desserts__cena {
  align-self: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.desserts__btn {
  justify-self: end;
  background: #fff0e6;
  color: #d15700;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 120px;
  border-radius: 30px;
  padding: 9px 0;
  transition: 0.4s;
}
.desserts__btn:hover {
  background: #f96900;
  color: #ffffff;
  transition: 0.4s;
}
