.desserts {
  display: grid;
  grid-column: 2 / 3;
}
.desserts__title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}
.desserts__items {
  row-gap: 60px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
}
.desserts__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: minmax(auto, 220px) auto 1fr auto / 224px;
}
.desserts__image {
}
.desserts__image:hover {
  transition: 0.3s;
  transform: scale(1.05, 1.05);
}
.desserts__subtitle {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.desserts__sostav {
  margin: 10px 0 11px;
  font-size: 14px;
  line-height: 19px;
  color: #73798c;
}
.desserts__pay {
  display: grid;
  grid-auto-flow: column;
}
.desserts__cena {
  align-self: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.desserts__btn {
  justify-self: end;
  background: #fff0e6;
  color: #d15700;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 120px;
  border-radius: 30px;
  padding: 9px 0;
  transition: 0.4s;
}
.desserts__btn:hover {
  background: #f96900;
  color: #ffffff;
  transition: 0.4s;
}

.desserts__btn-2 {
  display: none;
}

@media (max-width: 380px) {
  .desserts {
    row-gap: 20px;
  }
  .desserts__title {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 27px;
  }

  .desserts__items {
    display: grid;
    grid-template-columns: 288px;
    row-gap: 0px;
  }

  .desserts__item {
    padding-right: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr auto / 115px 160px;
    column-gap: 7px;
    border-bottom: 1px solid #f3f3f7;
  }
  .desserts__item:last-child {
    border-bottom: none;
  }

  .desserts__image {
    margin-top: 16px;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .desserts__image img {
    width: 100%;
    height: auto;
  }

  .desserts__subtitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
  .desserts__sostav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 4px 0 8px;
    font-size: 12px;
    line-height: 16px;
    color: #73798c;
  }
  .desserts__pay {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-bottom: 20px;
    display: grid;
  }

  .desserts__btn {
    display: none;
  }
  .desserts__cena {
    display: none;
  }
  .desserts__btn-2 {
    display: inline-block;
    grid-column: 1 / 2;
    justify-self: start;
    background: #fff0e6;
    color: #d15700;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 96px;
    border-radius: 30px;
    padding: 7px 0;
    transition: 0.4s;
  }
  .desserts__btn-2:hover {
    background: #f96900;
    color: #ffffff;
    transition: 0.4s;
  }
  .desserts__btn-2:first-child {
    background: #f96900;
    color: #ffffff;
  }
}

@media (max-width: 544px) and (min-width: 381px) {
  .desserts {
    row-gap: 20px;
    margin: 20px 0 30px;
  }
  .desserts__title {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 27px;
  }

  .desserts__items {
    display: grid;
    grid-template-columns: minmax(auto, 380px);
    row-gap: 0px;
    justify-content: center;
  }

  .desserts__item {
    padding-right: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr auto / 180px 200px;
    column-gap: 7px;
    border-bottom: 1px solid #f3f3f7;
  }
  .desserts__item:last-child {
    border-bottom: none;
  }

  .desserts__image {
    margin-top: 16px;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .desserts__image img {
    width: 100%;
    height: auto;
  }

  .desserts__subtitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
  .desserts__sostav {
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 4px 0 8px;
    font-size: 16px;
    line-height: 18px;
    color: #73798c;
  }
  .desserts__pay {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-bottom: 20px;
    display: grid;
  }

  .desserts__btn {
    display: none;
  }
  .desserts__cena {
    display: none;
  }
  .desserts__btn-2 {
    display: inline-block;
    grid-column: 1 / 2;
    justify-self: start;
    background: #fff0e6;
    color: #d15700;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 96px;
    border-radius: 30px;
    padding: 7px 0;
    transition: 0.4s;
  }
  .desserts__btn-2:hover {
    background: #f96900;
    color: #ffffff;
    transition: 0.4s;
  }
  .desserts__btn-2:first-child {
    background: #f96900;
    color: #ffffff;
  }
}
