.slids {
  margin: 30px 0 50px;
  padding: 0 16px;
  display: grid;
  grid-area: slids;
  grid-template: auto / minmax(auto, 1060px);
  justify-content: center;
  /* column-gap: 30px; */
}

.slider__image-2 img {
  width: 100%;
}

@media (max-width: 700px) {
  .slids {
    margin: 20px 0;
  }
}
