.slaids {
  padding: 30px 0 70px;
  display: grid;
  grid-area: slaids;
  grid-template-columns: 1fr minmax(auto, auto) 1fr;
  /* grid-template-rows: 400px; */
  /* justify-self: center; */
}
.slaider {
  align-self: center;
  overflow-y: auto;
  display: grid;
  grid-column: 2 / 3;
  grid-template: auto / auto 1fr auto;
  column-gap: 30px;
}

.image_1 {
  grid-column: 1 / 2;
  /* overflow-y: hidden; */
}
.image_2 {
  grid-column: 2 / 3;
}
.image_3 {
  grid-column: 3 / 4;
  /* overflow-y: hidden; */
}
.slaider img {
  height: auto;
  width: 100%;
  /* object-fit: cover; */
}
