/* font-family: "Cabin", sans-serif;
font-family: "Dancing Script", cursive;
font-family: "Nunito", sans-serif; */
@import url("/css/slaids.css");
@import url("/css/header.css");
@import url("/css/main.css");
@import url("/css/footer.css");
@import url("/css/popap.css");

html {
  scroll-behavior: smooth; /*плавная прокрутка*/
}

.wrapper {
  overflow-x: hidden;
  padding: 25px 0 0 0;
  color: #000000;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  height: 100%;
  display: grid;
  grid-template: minmax(auto, 116px) minmax(auto, 400px) 1fr minmax(auto, 580px) / 1fr;
  grid-template-areas:
    "header"
    "slids"
    "main"
    "footer";
}

@media (max-width: 900px) {
  .wrapper {
    grid-template: minmax(auto, 116px) minmax(auto, 400px) 1fr auto / 1fr;
    grid-template-areas:
      "header"
      "slids"
      "main"
      "footer";
  }
}
@media (max-width: 959px) and (min-width: 555px) {
  .wrapper {
    grid-template: minmax(auto, 116px) minmax(auto, 400px) 1fr auto / 1fr;
    grid-template-areas:
      "header"
      "slids"
      "main"
      "footer";
  }
}
@media (max-width: 597px) {
  .wrapper {
    grid-template: minmax(auto, 116px) minmax(auto, 400px) 1fr 1000px / 1fr;
    grid-template-areas:
      "header"
      "slids"
      "main"
      "footer";
  }
}
